@{
    ViewData["Title"] = "Student List";
}

<a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="AddStudent">Add Student</a>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>GPA</th>
        <th>?</th>
    </tr>
    
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Email</td>
            <td>@student.Course</td>
            <td>@student.GPA</td>
            <td><a asp-action="ShowDetails" asp-route-id="@student.Id">Show Details</a></td>
            <td><a asp-action="EditStudent" asp-route-id="@student.Id">Edit</a></td>

        </tr>
    }
    
</table>


