@{
    ViewData["Title"] = "Instructor List";
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Tenure</th>
        <th>Hiring Date</th>
        <th>?</th>
    </tr>
    
    @foreach (var instructor in Model)
    {
        <tr>
            <td>@instructor.FirstName @instructor.LastName</td>
            <td>@instructor.Rank</td>
            <td>@(instructor.IsTenured ? "Permanent" : "Probationary")</td>
            <td>@instructor.HiringDate</td>
            <td><a asp-action="ShowDetails" asp-route-id="@instructor.Id">Show Details</a></td>
            <td><a asp-action="EditInstructor" asp-route-id="@instructor.Id">Edit</a></td>
            </tr>
    }
    
</table>